streamlit
python-dotenv
youtube-transcript-api
langchain
langchain-classic
langchain-community
langchain-huggingface
langchain-groq
langchain-core
langchain-text-splitters
faiss-cpu
tiktoken
yt-dlp>=2026.3.17
deep-translator
sentence-transformers
